:root{
  --purple: #840df2;
  --gray:rgba(51, 51, 51, 1);
  --warm: #f6ae06;
}
body{
  padding: 0;
  margin: 0;
width: 100%;
height:100vh;
overflow-x: hidden;
}

@font-face {
    font-family: 'vivaldiitalic';
    src: url('vivaldii-webfont.woff2') format('woff2'),
         url('vivaldii-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'goethemedium';
    src: url('goethe-olw3-webfont.woff2') format('woff2'),
         url('goethe-olw3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  src: local('Cormorant Garamond Medium Italic'), local('CormorantGaramond-MediumItalic'), url(https://fonts.gstatic.com/s/cormorantgaramond/v7/co3WmX5slCNuHLi8bLeY9MK7whWMhyjYrEO7uj-KzhM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
	box-sizing: border-box;
}
.desc{
top:1vh;
position: fixed;
width:30vw;
height:90vh;
font-family: 'goethemedium', serif;
font-size: 45px;
font-weight: 400;
color:var(--gray);
margin-left: 1vw;
  font-style:italic;
}
.cv{
  font-family: 'goethemedium', serif;
  font-size: 25px;
  font-weight: 400;
  color:var(--gray);
  margin-left: 1vw;
  position: fixed;
  left: 0;
  bottom: 0.5vh;
  width: 30vw;
    font-style:italic;
}
.expl{
  padding:1vw;
}
span{
  color:var(--gray);
  font-family: 'vivaldiitalic';
}
span:hover, .cv:hover{
  color:var(--purple);
  font-family: 'vivaldiitalic';
}
p::-moz-selection { color: transparent;}
p::selection { color: transparent; }

.zoomed {
	position: absolute;
	width: 15vw;
	height: 15vw;
	cursor: move;
	overflow: hidden;
	box-shadow: 1vw 1vw 2vw var(--purple);
	background-color:black;
	color:  white;
	border:solid var(--purple) 1px;
  border-radius: 50%;

}

.inner {
	height: 40vw;
	width: 40vw;
  overflow:  overflow-y: scroll;

}


.item_image img {
	width:100%;
	height:auto;
}

.title, .inner {
	-moz-user-select: none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-user-select:none;
}

.zoomed.draggable {
	z-index: 10;
}

.zoomed .inner {
	padding: 0;
  font-weight: 300;
	font-size: 20px;
	overflow:auto;
  font-family: 'goethemedium', serif;
  font-style:italic;
}

.zoomed.large {
	width: 40vw;
	height: 40vw;
  border-radius: 8%;

}



img.extra {
	position: absolute;
	/*top: 0;
	left: 2px;*/
	width: 40vw;
	height: auto;
	z-index: 100;
	padding: 10px;
	margin:10px;
}


.zoomed.large .inner {
  font-weight: 300;
	font-size: 30px;
	padding: 0vw;
	border:none;

}

.zoomed img {
	pointer-events: none;
	height: auto;
}

@media screen and (max-width: 1050px) {
    .desc{
    width:40vw;
  }
  .zoomed.large {
    width: 60vw;
    height: 60vw;
  }
  .inner{
    width: 60vw;
    height: 60vw;
  }
  img.extra{
  width: 60vw;
  height: 60vw;
  }
  .zoomed{
    width: 20vw;
    height: 20vw;
  }
}
@media screen and (max-width: 770px) {
    .desc{
    width:60vw;
  }
  .zoomed.large {
  	width: 60vw;    height: 60vw;

  }

  .inner{
    width: 60vw;    height: 60vw;

  }
  img.extra{
	width: 60vw;    height: 60vw;
  }
  .zoomed{
    width: 25vw;
    height: 25vw;
  }
}
@media screen and (max-width: 510px) {
    .desc{
    width:100vw;
  }
  .zoomed.large {
    width: 80vw;
  height: 80vw;
    }
  .inner{
    width: 80vw;  height: 80vw;

  }
  img.extra{
  width: 80vw;  height: 80vw;

  }
  .zoomed{
    width: 35vw;
  	height: 35vw;
  }
}
